CompileFlags:
  Add: 
    - -std=c++20
    - -Wall
    - -isystem/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include
    - -isystem/Library/Developer/CommandLineTools/usr/include/c++/v1
    - -isystem/usr/local/include
  CompilationDatabase: compile_commands.json

Index:
  StandardLibrary: Yes
  Background: Build

Diagnostics:
  ClangTidy:
    Add: 
      - modernize-use-nullptr
      - modernize-use-override
      - modernize-loop-convert
      - modernize-deprecated-headers
      - performance-for-range-copy
      - performance-implicit-conversion-in-loop
      - performance-unnecessary-value-param
      - readability-identifier-naming
      - readability-magic-numbers
      - readability-else-after-return
    Remove: modernize-use-trailing-return-type

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

