CompileFlags:
  Add: 
    - -std=c++20
    - -Wall
    - -isystem/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include
    - -isystem/Library/Developer/CommandLineTools/usr/include/c++/v1
    - -isystem/usr/local/include
  CompilationDatabase: compile_commands.json

Index:
  StandardLibrary: Yes
  Background: Build

Diagnostics:
  ClangTidy: {}

InlayHints:
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes

Hover:
  ShowAKA: Yes

